@font-face {
  font-family: "Aller";
  src: url(assets/Aller_Rg.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Aller";
  src: url(assets/AllerDisplay.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

.shop .letter-square {
  cursor: grab;
}

body {
  background: #F0EBE3;
  margin: 0;
  color: #555;
  font-family: Aller;
  user-select: none;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 32px;
  margin: 0;
  padding: 16px 0 12px 0;
}

p {
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0 4px;
  margin-bottom: 16px;
}

ul {
  margin: 0;
  line-height: 150%;
}

li {
  list-style: none;
}

span.two-l, span.three-l,
span.two-w, span.three-w {
  font-weight: 200;
}

span.green {
  color: #7D9D9C;
  font-weight: 400;
}

.container {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 32px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #E4DCCF;
  margin-bottom: 16px;
}

.grid {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.square {
  box-sizing: border-box;
  border-radius: 8px;
  background: #E4DCCF;
  width: calc(14.28% - 8px);
  margin: 4px;
  height: 0;
  padding-top: calc(14.28% - 8px);
  float: left;
}

.letter-square {
  background: #E4DCCF;
  border: 4px solid #555;
  width: calc(100% - 8px);
  padding-top: calc(100% - 8px);
  margin: 0;
  margin-top: -100%;
  font-size: 48px;
  color: #555;
  position: relative;
  overflow: hidden;
  box-sizing: initial;
}

.letter-square.part-of-word {
  background: white;
}

.letter-square.part-of-word.h {
  border-left: 4px dotted #555;
  border-right: 4px dotted #555;
}

.letter-square.part-of-word.ha {
  border-left: 4px solid #555;
}

.letter-square.part-of-word.hb {
  border-right: 4px solid #555;
}

.letter-square.part-of-word.v {
  border-top: 4px dotted #555;
  border-bottom: 4px dotted #555;
}

.letter-square.part-of-word.va {
  border-top: 4px solid #555;
}

.letter-square.part-of-word.vb {
  border-bottom: 4px solid #555;
}

.invisible {
  opacity: 0.25;
}

.letter {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.letter-square::before {
  content: "";
  position: absolute;
  font-size: 16px;
  color: #555;
  left: 2px;
  top: 0px;
}

.letter-square.level-1::before {
  content: "2x";
}

.letter-square.level-2::before {
  content: "3x";
}

.letter-square.level-1.part-of-word, span.level-1 {
  background: #a9def9;
}

.letter-square.level-2.part-of-word, span.level-2 {
  background: #ff99c8;
}

.letter-score {
  position: absolute;
  font-size: 16px;
  /*color: #777;*/
  right: 2px;
  bottom: 0px;
}

.shop-button {
  padding: 16px;
  background: #555;
  margin-top: 8px;
  margin-left: 8px;
  border: none;
  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-family:  "Aller";
  font-size: 24px;
  cursor: pointer;
  border-bottom: 12px solid #404040;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  float: left;
}

.shop-button:active {
  margin-top: 16px;
  border-bottom: 4px solid #404040;
}

.refresh-button {
  width: calc(71.4% - 8px);
  float: left;
  margin-left: 4px;
  background: #7D9D9C;
  border-bottom: 12px solid #5b7978;
}

.refresh-button:active {
  border-bottom: 4px solid #5b7978;
}

.undo-button, .shuffle-button {
  width: calc(14.28% - 8px);
  color: #555;
}

.undo-button {
  background-image: url("assets/undo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.shuffle-button {
  background-image: url("assets/shuffle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
}

.display {
  width: 100%;
  float: left;
}

.display .wrapper {
  width: 50%;
  float: left;
  font-size: 24px;
  padding: 8px 4px;
  box-sizing: border-box;
}

.display .wrapper:nth-child(2) {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 92%;
  }
}
